.courseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1280px;
}

.CourseBox {
    margin: 10px;
    border: 1px solid lightgray;
    padding: 10px;

}

.courseImg {
  width: 350px;
  height: auto;
}
